html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0;
}

.cont {
  margin: 10px;
  border: 2px solid darkmagenta;
  height: 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100px;
  width: 350px;
  background-color:darkturquoise;
}